@font-face { font-family: WeblySleek; src: url('../weblysleek/weblysleekuil.ttf'); }
@font-face { font-family: WeblySleekBold; src: url('../weblysleek/weblysleekuisb.ttf'); }
@font-face { font-family: WeblySleekItalic; src: url('../weblysleek/weblysleekuisli.ttf')}
@font-face { font-family: TypoRound; src: url('../typo-round/Typo_Round_Thin_Demo.otf')}
@font-face { font-family: HandWritten; src: url('../scribbles/Hand Scribble Sketch Times.otf')}

body {
  margin: 0;
  margin-right: auto;
}

html {
  background: url("../globalPics/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  position: absolute;
  text-align: center;
  color: white;
  font-family: WeblySleek, serif;
  font-size: 20pt;
}

p {
  position: absolute;
  text-align: center;
  color: white;
  font-family: WeblySleek, serif;
  font-size: 12pt;
}

h1[id="portfolioText"] {
  position: absolute;
  top: 5px;
  text-align: center;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  color: white;
  font-family: WeblySleekBold, serif;
  font-size: 20pt;
}

.app {
  position: absolute;
  width: 300px
  height: 300px;
}

.appImage {
  width: 100px;
  height: 100px;
  top:20px;
  position:absolute;
  left: 50%;
  margin-left: -50px;
  border-radius: 20px;
}

.appName {
  top: 120px;
  font-size: 12pt;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  font-family: WeblySleek, serif;
}

#MovingOrganizerDiv {
  top: 190px;
  left: 25%;
  /*margin-left: -150px;*/
}

#ShowdownDiv {
  top: 190px;
  left: 50%;
  /*margin-left: px;*/
}

#SkateDiceDiv {
  top: 190px;
  left: 75%;
}

h1[id="PersonalTitle"] {
  top: 110px;
  width: 100%;
  font-family: WeblySleek;
  font-size: 20pt;
}

input[id="boxImage"] {
  width: 100px;
  height: 100px;
  top:20px;
  position:absolute;
  left: 50%;
  margin-left: -50px;
  overflow: auto;
  outline: none;
  border-radius: 20px;
}

h1[id="moText"] {
  top: 120px;
  font-size: 14pt;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  font-family: WeblySleekBold, serif;
}

p[id="moDesc"] {
  top: 150px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
}



input[id="showdownImage"] {
  width: 100px;
  height: 100px;
  top:75px;
  left: 50%;
  position:absolute;
  margin-left: 10px;
  overflow: auto;
  outline: none;
  border-radius: 20px;
}

/* Navigation buttons */

#navButtons {
  position:absolute;
  width: 400px;
  height: 25px;
  top: 20px;
  left: 100%;
  margin-left: -430px;
}

button[id="resumeButton"] {
  width: 100px;
  left: 100%;
  margin-left: -110px;
}

button[id="portfolioButton"] {
  width: 100px;
  left: 100%;
  margin-left: -220px;
}

button[id="aboutButton"] {
  width: 100px;
  left: 100%;
  margin-left: -330px;
}

button {
  position: absolute;
  color: white;
  height: 20px;
  width: auto;
  border: none;
  font-size: 15pt;
  background-color: rgba(0, 0, 0, 0);
  font-family: WeblySleek;
}
